* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

#myForm {
    background-color: azure;
    display: block;
    width: 500px;
    margin: 100px auto 0;
    border: 2px solid black;
    padding: 30px;
    border-radius: 2em;

}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

label {
    font-size: 1.3em;
    margin-left: 10px;
    font-weight: bold;
    
}

input {
    width: 95%;
    font-size: 1.5em;
    margin: auto;
    border-radius: 5px;
    padding: 2px;
}

.error {
    color: red;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}

button{
    margin: auto;
    width: 7em;
    font-size: 2em;
    margin: 15px 10px; 
    padding: 3px;
    background-color:rgb(192, 192, 192);
    border-radius: 1em;
}
